section
  h1= title
  h2.subtitle= description
  img.logo(src='img/logo.png')
section
  include why
section
  include what
section
  img.logo(src='img/logo.png')
  p
    a(href='https://github.com/fishpercolator/revelry') github:fishpercolator/revelry
  code npm install -g revelry
  p @fishpercolator
  p @pedantic_git
