section
  h2 All just code
  p Pug, includes
  img.screenshot(src='img/code.png')
section
  h2 Theming
  p It's CSS (and Sass)
  img.screenshot(src='img/sass.png')
section
  h2 All web tech
  include cooper.html
